.builder-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__main {
        width: 100%;
        height: 80%;
        margin-top: 10%;
        overflow: auto;
    }
    &__price {
        width: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        height: 10%;
        &__total-price {
            color: #00BFC5;
            text-transform: uppercase;
            margin: 10px 0 0 0;
            padding: 0 5px;
        }
    }
    &__order {
        position: absolute;
        bottom: 0;
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .control-container {
        width: 100%;
        margin: 10px 0;
        &__label {
            margin: 10px 0;
            color: #00BFC5;
        }
        &__button {
            outline: none;
            background-color: #00BFC5;
            color: #fff;
            border: 1px solid #00BFC5;
            height: 30px;
            width: calc(50% - 10px);
            cursor: pointer;
            border-radius: 3px;
            transform: scale(0.95);
            transition: transform 0.2s ease-in-out;
            &:first-of-type {
                margin: 0 5px 0 0;
                background-color: #fff;
                color: #00BFC5;
            }
            &:last-of-type {
                margin: 0 0 0 5px;
            }
            &:hover {
                transform: scale(1);
            }
            &:disabled {
                opacity: 0.5;
            }
        }
    }
}