.button {
  outline: none;
  background-color: #00BFC5;
  color: #fff;
  border: 1px solid #00BFC5;
  height: 30px;
  width: calc(50% - 10px);
  cursor: pointer;
  border-radius: 3px;
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  text-transform: uppercase;
  &--default {
    background-color: #fff;
    color: #00BFC5;
  }
  &:hover {
    transform: scale(1);
  }
}