.modal-overlay {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    width: 300px;
    position: absolute;
    background: #fff;
    z-index: 1000;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100vh);
    opacity: 0;
    &--transform {
      transform: translateY(0);
      opacity: 1;
    }
}